# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: build_test

on:
  pull_request:
    branches: [ dev, main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:  
  # Allows us to call this workflow from another workflow
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - name: Use Node.js 22
      uses: actions/setup-node@v6
      with:
        node-version: 22

    - name: Setup Yarn2 package manager, install and list dependencies
      run: |
        corepack enable
        yarn set version berry
        yarn install --immutable
        yarn info        
    - run: yarn lint
    - run: yarn build
    - run: yarn test
