# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/tutorials/publish-packages/publish-nodejs-packages

name: Publish

on:
  release:
    types: [created]

jobs:
  build:
    uses: ./.github/workflows/build_test.yml

  publish-gpr:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          registry-url: https://npm.pkg.github.com/
          scope: '@gns-science'
      - name: Setup Yarn package manager
        run: |
          corepack enable
          yarn set version berry
          yarn install --immutable
      - run: yarn build
      - run: yarn npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          
          
          
